[submodule "src/wiki"]
	path = src/wiki
	url = https://github.com/zotero-chinese/wiki.git
	branch = main
[submodule "src/styles/detail"]
	path = src/styles/detail
	url = https://github.com/northword/Chinese-STD-GB-T-7714-related-csl.git
	branch = refactor