.DS_Store
node_modules/
package-lock.json
# pnpm-lock.yaml

**/.vuepress/.cache/
**/.vuepress/.temp/
**/.vuepress/dist/
**/.vitepress/cache
**/.vitepress/dist
**/.vitepress/.temp
dist
**/.obsidian

# 下载的数据
**/data/_data/

# Local Netlify folder
.netlify
