.DS_Store
node_modules/
package-lock.json
# pnpm-lock.yaml

**/.vuepress/.cache/
**/.vuepress/.temp/
**/.vuepress/dist/
**/.vitepress/cache
**/.vitepress/dist
**/.vitepress/.temp
dist
src/dev-dist
**/.obsidian

**/data/*.json

# Local Netlify folder
.netlify