@import url('@wiki/.vitepress/theme/styles/custom.css');

.el-descriptions {
  display: block;
  overflow-x: auto;
}

.el-descriptions table {
  display: table;
}

.el-descriptions .el-descriptions__label {
  white-space: nowrap;
}

.el-drawer .el-drawer__header {
  margin-bottom: 0px;
}
/* 当抽屉弹出时锁定主页面滚动，Element Plus bug */
.el-popup-parent--hidden {
  overflow: hidden;
}

.el-tag {
  margin: 5px 5px 0px 0px;
}

.el-tag .el-tag__content {
  display: inline-flex;
  align-items: center;
}

.el-icon + span,
.el-icon + p,
.el-icon + a {
  margin-left: 8px;
}

ul.el-timeline {
  list-style: none;
}

.el-card {
  margin: 0.5rem;
}
.vp-doc .el-card {
  margin: 0.5rem 0;
}

.footnotes {
  font-size: small;
}
.footnotes p {
  line-height: 1.5rem;
}

.vp-doc li,
.vp-doc p {
  text-align: justify;
}
