name: Build

on:
  workflow_call:

permissions:
  contents: write

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JS
        uses: zotero-plugin-dev/workflows/setup-js@main
        with:
          fetch-all: true

      - name: Build
        run: |
          git submodule update --remote
          pnpm fetch-data
          pnpm build

      - name: Upload Output
        uses: actions/upload-artifact@v6
        with:
          name: build-result
          path: src/.vitepress/dist
          retention-days: 3
