name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:
  repository_dispatch:
    types:
      - update-triggered-by-wiki-repo
      - update-triggered-by-plugins-repo
      - update-triggered-by-styles-repo
      - update-triggered-by-translators-repo
      - update-triggered-by-blog-repo
      - update-content

permissions:
  contents: write

concurrency:
  group: pages
  cancel-in-progress: false

env:
  TZ: Asia/Shanghai

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    secrets: inherit

  deploy-github:
    name: Deploy to GitHub Pages
    if: github.ref_name == 'main' && github.event_name != 'pull_request' && github.repository == 'zotero-chinese/website'
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: zotero-chinese/zotero-chinese.github.io
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Download Build Output
        uses: actions/download-artifact@v6
        with:
          name: build-result
          path: dist

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          repository-name: zotero-chinese/zotero-chinese.github.io
          branch: gh-pages
          folder: dist
          single-commit: true
          token: ${{ secrets.ACCESS_TOKEN }}
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com
